* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: AvantGarde Bk BT, Arial, Helvetica, sans-serif;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.centredflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centredColumnFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.betweenflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.master-grid {
    display: grid;
    grid-template-columns: 460px auto;
    grid-template-rows: 100px calc(100vh - 100px);
}

.logo-container {
    grid-area: 1 / 1 / 2 / 2;
    background: #007398; 
}

.nav-container {
    height: 100px;
    background: #007398;
    grid-area: 1 / 2 / 2 / 3;
    padding: 0 40px;
}

.search-container {
    position: relative;
}

.search {
    position: relative;
    width: 500px;
    padding: 10px;
    border: none;
    font-family: 'Open Sans';
    font-size: 16px;
}

.search-icon {
    position: absolute;
    margin: 9px 0 auto -33px;
    width: 1.5em;
}

.menu-links {
    height: inherit;
}

.menu-item {
    margin: 0 10px;
    display: inline-block;
    font-size: 18px;
}

.menu-item > a {
    padding: 10px 15px;
}

.menu-item > a:hover {
    background-color: #E5AE17;
}

body {
    /* background-image: url("./img/1.jpg");
    background-size: cover;
    background-size: 100vw 100vh; */
}

.product-menu {
    height: 100%;
    width: inherit;
    background: #007398;
    grid-area: 2 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 0 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.product-category {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    margin: 20px 0;
}

.category-photo-container {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background: #fff;
    margin-right: 20px;
}

.category-photo {
    max-width: 103%;
    max-height: 103%;
}

.category-dropdown {
    width: 85%;
    background: #015d7b;
    padding: 5px 0;
    border-radius: 5px 5px 15px 15px;
}

.category-dropdown > svg{
    margin: 10px;
}
.dropdown-section {
    width: inherit;
    display: inherit;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    margin: 10px 0;
}

.dropdown-section-name {
    width: 60%;
    display: inherit;
    justify-content: center;
    font-size: 20px;
}

.dropdown-section-name > span {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    text-align: center;
}

.dropdown-section-photo-container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
}

.dropdown-section-photo{
    max-width: 106%;
}

.product-category-right {
    display: inherit;
    flex-direction: column;
    width: 70%;
}

.fa-3x {
    width: 1.5em;    
}

.imagennen {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: lol 3s; */
}

@keyframes lol {
    from{
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.category-name {
    font-family: 'Poppins';
    font-weight: normal;
    background: #FFEF5E;
    padding: 0 10px;
    border-radius: 5px;
    color: #987979;
    white-space: pre;
}

.more-selector {
    flex-direction: column;
    z-index: 2;
}

.more-selector > span {
    margin-top: 5px;
}

div > h1,
div > span,
li  > a,
p {
    color: #fff;
    text-decoration: none;
} 

h1 {
    font-size: 26px;
}

.product-hero {
    grid-area: 2 / 2 / 3 / 3;
}

.product-displayer {
    background-color: #FE5E6E;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    grid-template-rows: 1fr;
    width: 90%;
    height: 90%;
    position: relative;
}

.displayer-left {
    grid-area: 1 / 1 / 2 / 2;
    width: 500px;
    height: 700px;
    margin: auto;
}

.product-image {
    max-width: 75%;
}

.displayer-right {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-name {
    font-size: 5em;
    margin-top: 80px;
}

.product-description-container {
    width: 90%;
    background-color: royalblue;
    transform: skew(333deg, 0deg);
    border-radius: 15px 0;
    text-align: center;
    margin: auto;
}

.product-description {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-style: italic;
    transform: skew(22deg, 0deg);
}

hr.solid {
    border-top: 1px solid #fff;
    margin-top: 15px;
}

.product-text {
    width: 500px;
    margin-top: 15px;
    font-size: 1.4em;
    font-weight: 100;
}

.product-text > p,
.product-text > li {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.firstMarker {
    margin-top: 15px;
}

.buy-button-container {
    position: absolute;
    bottom: 40px;
    right: 45px;
}

.buy-button {
    padding: 20px 40px;
    border-radius: 5px;
    background-color: #0047BB;
    color: #ffffff;
    font-size: 28px;
    font-weight: 800;
    border: none;
}

.product-displayer-g {
    background-color: #09B0AE;
    display: flex;
    width: 90%;
    height: 90%;
    position: relative;
}

.gold-container {
    min-width: 1300px;
    max-width: 1300px;
    display: inherit;
    flex-wrap: wrap;
}

.gold-container-sup,
.gold-container-bot {
    display: inherit;
    margin: 20px 0;
}

/* .gold-container-sup {
    margin-top: -20px;
} */

.gold-product-container {
    flex-direction: column;
    font-size: 24px;
}

/* .gold-product-container:nth-child(2n) {
    flex-direction: column-reverse;
} */

.gold-product-container > p{
    background: royalblue;
    padding: 6px 15px;
}

.circle-container {
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 10px 33px;
}

.circle-container > p {
    margin: 10px 0;
}

.product-goldfish {
    max-width: 103%;
    max-height: 103%;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #E5AE17;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #E5AE17;
}